<div class="header">
  <div class="clearfix header-wrap">
    <ul class="pull-left" *ngIf="leftHeaderLists">
      <li *ngFor="let data of leftHeaderLists;let index=index;">
        <a href="#">{{data}}</a>
        <i *ngIf="index<leftHeaderLists.length-1">|</i>
      </li>
    </ul>
    <ul class="pull-right" *ngIf="rightHeaderLists">
      <li *ngFor="let data of rightHeaderLists;let index=index;">
        <a href="#">{{data}}</a>
        <i *ngIf="index<rightHeaderLists.length-1">|</i>
      </li>
    </ul>
  </div>
</div>
<div class="clearfix logo">
  <div class="pull-left">多看阅读LOGO</div>
  <div class="pull-right search-wrap">
    <input type="text" placeholder="搜索书名或作者...">
  </div>
</div>
<div class="navbar">
  <ul *ngIf="navList">
    <li *ngFor="let nav of navList;" [routerLink]="nav.path" routerLinkActive="active">{{nav.name}}</li>
  </ul>
</div>
<div class="content">
  <router-outlet></router-outlet>
</div>